<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="ProjetoMestradoFernandoChagas2.contribution1">
         <menu
               icon="icons/ArchKDM-LOGO.png"
               id="ProjetoMestradoFernandoChagas2.menu1"
               label="ArchKDM"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="projetomestradofernandochagas2.popup.actions.GettingKDMInstance"
               enablesFor="1"
               id="ProjetoMestradoFernandoChagas2.GettingKDMInstance"
               label="Get KDM Instance"
               menubarPath="ProjetoMestradoFernandoChagas2.menu1/group1">
         </action>
         <action
               class="projetomestradofernandochagas2.popup.actions.ActionRecoveryArchitecture"
               enablesFor="1"
               icon="icons/recovery.png"
               id="ProjetoMestradoFernandoChagas2.newAction"
               label="Recovery ArchitectureView"
               menubarPath="ProjetoMestradoFernandoChagas2.menu1/group1">
         </action>
         <action
               class="projetomestradofernandochagas2.popup.actions.MapArchitectureElementsToCodeElements"
               enablesFor="1"
               id="ProjetoMestradoFernandoChagas2.MapArchitectureElementsToCodeElements"
               label="Map Architectural Elements"
               menubarPath="ProjetoMestradoFernandoChagas2.menu1/group1">
         </action>
         <action
               class="projetomestradofernandochagas2.popup.actions.ArchitectureComplianceChecking"
               enablesFor="1"
               id="ProjetoMestradoFernandoChagas2.ArchitectureComplianceChecking"
               label="Architecture Compliance Checking"
               menubarPath="ProjetoMestradoFernandoChagas2.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.br.ufscar.dc.ui.DCLView"
            id="com.br.ufscar.dc.ui.DCLView"
            name="DCL View">
      </view>
      <view
            class="com.br.ufscar.dc.ui.RelationShipView"
            id="com.br.ufscar.dc.ui.RelationShipView"
            name="RelationShip">
      </view>
   </extension>

</plugin>
