<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="ProjetoMestradoFernandoChagas2.contribution1">
         <menu
               icon="icons/ArchKDM-LOGO.png"
               id="ProjetoMestradoFernandoChagas2.menu1"
               label="ArchKDM"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="projetomestradofernandochagas2.popup.actions.NewAction"
               enablesFor="1"
               icon="icons/recovery.png"
               id="ProjetoMestradoFernandoChagas2.newAction"
               label="Recovery ArchitectureView"
               menubarPath="ProjetoMestradoFernandoChagas2.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
